@page
@model Shopping_Store.Pages.ErrorsModel
@{
    ViewData["Title"] = "Lỗi";
    // Nếu bạn muốn sử dụng một Layout đơn giản hơn cho trang lỗi, bạn có thể chỉ định ở đây
    // Layout = "_ErrorLayout"; // Ví dụ: một Layout không có header/footer phức tạp
}

<h2>page 404 not found</h2>
<img src="https://cdn-icons-png.freepik.com/512/7465/7465751.png" />